In [1]:
import pandas as pd
import numpy as np

In [4]:
flats = pd.read_csv('/content/flats_cleaned.csv')
houses = pd.read_csv('/content/houses_cleaned.csv')

In [5]:
df = pd.concat([flats,houses],ignore_index=True)

In [6]:
df = df.sample(df.shape[0],ignore_index=True)

In [9]:
df.head(20)

,property_name,propert_type,society,price,price_per_square_ft,Area,areaWithType,bedRoom,bathroom,balcony,...,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,Property_type,price_per_sqft,area
0,2 BHK Flat in Sector 79 Gurgaon,flat,godrej,1.33,8531.0,1559.0,Super Built up area 1559(144.84 sq.m.),2,2,3,...,North-West,1 to 5 Year Old,"['Vatika Town Square-INXT', 'Naurangpur Road',...",Godrej 101 is one of gurgaon's most sought aft...,NaN,"['Centrally Air Conditioned', 'Security / Fire...","['Green Area5 out of 5', 'Construction5 out of...",NaN,NaN,NaN
1,4 Bedroom House for sale in DLF Phase 3,NaN,independent,6.50,NaN,NaN,Plot area 316(264.22 sq.m.),4,4,2,...,NaN,10+ Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Old built up plot rate gated complex\nNearest ...,"['4 Wardrobe', '6 Fan', '12 Light', '1 Modular...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Safety4 out of 5', ...",house,22855.0,2844.0
2,2 BHK Flat in Sector 89 Gurgaon,flat,smart world gems,0.90,8145.0,1105.0,Built Up area: 1105 (102.66 sq.m.),2,2,2,...,NaN,undefined,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",Multistorey apartment is available for sale. I...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN,NaN,NaN
3,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.25,7812.0,1600.0,Super Built up area 2390(222.04 sq.m.)Carpet a...,4,4,3,...,South-West,5 to 10 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","The unit is a row flat, it has 4 bathrooms and...","['4 Fan', '5 Light', '3 Wardrobe', 'No AC', 'N...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN,NaN,NaN
4,4 BHK Flat in Sector 90 Gurgaon,flat,dlf new town heights,1.42,4864.0,2919.0,Super Built up area 2364(219.62 sq.m.),4,4,3+,...,East,5 to 10 Year Old,"['Manish Gallexie 91', 'NH-8 IMT Manesar', 'RH...",This beautiful 4 bhk apartment/flat in sector-...,NaN,"['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of...",NaN,NaN,NaN
5,4 BHK Flat in Sector 113 Gurgaon,flat,m3m capital,3.25,14142.0,2298.0,Carpet area: 2298 (213.49 sq.m.),4,4,3+,...,NaN,Dec 2025,"['Phase 2 Metro Station', 'Global Foyer Mall',...",Check out this 4 bhk apartment for sale in m3m...,"['4 AC', '1 Chimney', '1 Modular Kitchen', 'No...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN,NaN,NaN,NaN
6,3 BHK Flat in Sector 71 Gurgaon,flat,chd avenue,1.12,6215.0,1802.0,Super Built up area 1802(167.41 sq.m.),3,4,3,...,South-East,5 to 10 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...",Chd avenue 71 sector 71gurgaon.\n Additional d...,[],"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction3 out of...",NaN,NaN,NaN
7,2 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,1.20,7317.0,1640.0,Super Built up area 1640(152.36 sq.m.)Carpet a...,2,2,3+,...,East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","Situated in sector 85 gurgaon, ss the leaf is ...","['10 Light', '4 AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou...",NaN,NaN,NaN
8,3 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,1.43,8886.0,1609.0,Super Built up area 1608(149.39 sq.m.)Carpet a...,3,3,2,...,South-West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",This lovely 3 bhk apartment/flat in sector 69 ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Power Back-up', 'Feng Shui / Vaastu Complian...","['Green Area5 out of 5', 'Construction4 out of...",NaN,NaN,NaN
9,4 BHK Flat in Sector 69 Gurgaon,flat,tulip purple,1.80,9000.0,2000.0,Super Built up area 2400(222.97 sq.m.)Built Up...,4,5,3+,...,North-East,1 to 5 Year Old,"['Sector 55-56 metro station', 'Omaxe Gurgaon ...",Very nice property at nice location at cheaper...,"['4 Wardrobe', '1 Modular Kitchen', 'No AC', '...","['Water purifier', 'Security / Fire Alarm', 'F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN,NaN,NaN
10,3 BHK Flat in Sector 109 Gurgaon,flat,ats tourmaline,1.40,8000.0,1750.0,Super Built up area 1750(162.58 sq.m.),3,3,3+,...,North-West,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'NeoSquare ...",A north-East facing 3 bhk apartment in sector-...,"['3 Wardrobe', '5 AC', '1 Modular Kitchen', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou...",NaN,NaN,NaN
11,3 BHK Flat in Sector 102 Gurgaon,flat,adani m2k oyster grande,1.90,14074.0,1350.0,Super Built up area 1889(175.49 sq.m.)Carpet a...,3,4,3,...,NaN,1 to 5 Year Old,"['WTC Plaza', 'Star Mall', 'Dwarka Expy, Dhanw...",Oyster grande offers top-Tier luxury flats/apa...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN,NaN,NaN
12,3 BHK Flat in Sector 82A Gurgaon,flat,dlf the primus,1.87,10394.0,1799.0,Super Built up area 1799(167.13 sq.m.)Carpet a...,3,3,3,...,East,5 to 10 Year Old,"['Sapphire 83', 'NH 48', 'Cambridge Montessori...",This 3 bhk apartment is available for sale in ...,NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN,NaN,NaN
13,2 BHK Flat in Sector 67A Gurgaon,flat,pyramid urban,0.62,11854.0,523.0,Carpet area: 523 (48.59 sq.m.),2,2,2,...,South,1 to 5 Year Old,"['Airia Mall, Sector 68', 'M3M Cosmopolitan Ma...",Check out this 2 bhk apartment for sale in pyr...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Li...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Environment5 out of 5', 'Lifestyle4 out of 5...",NaN,NaN,NaN
14,3 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,1.40,7567.0,1850.0,Super Built up area 1850(171.87 sq.m.),3,3,3+,...,East,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",It is a gorgeous society. We are moving overse...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Power Back-up', 'Lift(s)', 'Swimming Pool', ...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN,NaN,NaN
15,3 BHK Flat in Sector 104 Gurgaon,flat,hero homes,1.40,15826.0,885.0,Super Built up area 1389(129.04 sq.m.)Carpet a...,3,2,2,...,North,Dec 2023,"['Basai Metro Station', 'HUDA Market', 'Dwarka...",4th floor property in tower 02,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN,NaN,NaN
16,4 BHK Flat in Sector 90 Gurgaon,flat,shree vardhman flora,1.25,4854.0,2575.0,Super Built up area 2575(239.23 sq.m.),4,5,2,...,South,1 to 5 Year Old,"['IRIS Broadway Mall', 'Dwarka Expressway', 'S...","Shree vardhman flora in sector 90, gurgaon is ...",NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",NaN,NaN,NaN
17,4 BHK Flat in Sector 92 Gurgaon,flat,sare crescent parc,1.00,4778.0,2093.0,Built Up area: 2093 (194.45 sq.m.),4,4,3,...,NaN,undefined,NaN,Best in class property available at sector 92 ...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Green Area4 out of 5', 'Construction4 out of...",NaN,NaN,NaN
18,6 Bedroom House for sale in Uppals Southend,NaN,uppal southend,3.75,NaN,NaN,Plot area 163(136.29 sq.m.),6,6,3,...,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Address...Uppal southend sector 49 w blook \n6...,NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...",house,25562.0,1467.0
19,3 BHK Flat in Sector 108 Gurgaon,flat,sobha city,2.45,14040.0,1745.0,Super Built up area 1745(162.12 sq.m.)Built Up...,3,3,3,...,West,1 to 5 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Check out this 3 bhk apartment for sale in sob...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of...",NaN,NaN,NaN

In [10]:
df.to_csv('gurgaon_properties.csv',index=False)